@{
    ViewData["Title"] = "Edit not allowed";
}

<h1>Edit or delete not allowed</h1>

<h4>This product was created by someone else, you can only edit or delete the products you create</h4>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>